.header{
  padding-bottom: 20px;
}
.sidebar {
  width: 200px;
  background-color: rgb(29, 29, 29);
  position: fixed;
  right: 0px;
  top: 5;
  height: 75%;
  padding: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow-y: auto;
}

#sectionTitle{
  color: rgb(29, 29, 29);
  font-size: 30px;
  font-family: fantasy;
  background-color: #8484ab;
  border-radius: 10px;
  display: inline-block; 
  padding: 8px;
  
}

nav{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgb(29, 29, 29);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 25px;
}


.logo {
  padding: 10px;
  height: 4.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: spin 10s linear infinite;
}

/* .logo.symbol:hover {
  filter: drop-shadow(0 0 2em #8484ab);
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-image:url("") ;
} */

#newTransaction{
  background-color: rgb(29, 29, 29);
  width: 250px;
  border-radius: 30px;
  padding: 30px;
  margin-left: 550px; 
  margin: auto;

}

@media screen and (max-width: 768px) {
  /* Adjust the position for screens narrower than 768px */
  #newTransaction {
    margin-left: 0;
    margin-right: 0;
  }
}


#amount-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: fantasy;
  margin-bottom: 15px;
}
#desc-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: fantasy;
  margin-bottom: 15px;
}
#date-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
  font-family: fantasy;
  color: gray; 
}
#add{
  cursor: pointer;
  color: green;
  background-color: rgb(29, 29, 29);
  padding: 0px;
  font-size: 15px;
  border-radius: 4px;
  font-family: fantasy;
  margin-left: 30px;
  border: none;
}

#ChatBudgetBuddy{
  background-color: rgb(29, 29, 29);
  width: 400px;
  border-radius: 30px;
  padding: 30px;
}

#logoPlace{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links{
  font-family: fantasy;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

#aLink{
  color: white;
  font-size: 20px;
  font-family: fantasy;
  border-radius: 5px;
  display: inline-block; 
  padding: 8px;
  margin-right: 15px;
  margin-left: 25px;
  text-decoration: none;
}

#link:hover{
  background-color: #8484ab;
  border-radius: 15px;
}

#homeTitle{
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
}











