.header{
  padding-bottom: 20px;
}
.sidebar {
  width: 200px;
  background-color: rgb(29, 29, 29);
  position: fixed;
  right: 0px;
  top: 5;
  height: 75%;
  padding: 20px;
  border-radius: 30px;
  overflow-y: auto;
}

#sectionTitle{
  color: rgb(29, 29, 29);
  font-size: 30px;
  font-family: fantasy;
  background-color: #8484ab;
  border-radius: 10px;
  display: inline-block; 
  padding: 8px;
  
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
  animation: spin 10s linear infinite;
}

/* .logo.symbol:hover {
  filter: drop-shadow(0 0 2em #8484ab);
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-image:url("") ;
} */

#newTransaction{
  background-color: rgb(29, 29, 29);
  width: 250px;
  border-radius: 30px;
  padding: 30px;
  margin-left: 550px; 
  

}


#amount-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: fantasy;
  margin-bottom: 15px;
}
#desc-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: fantasy;
  margin-bottom: 15px;
}
#date-input{
  background-color: #c7c7e1;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
  font-family: fantasy;
  color: gray; 
}
#add{
  background-color: green;
  padding: 10px;
  font-size: 15px;
  border-radius: 15px;
  font-family: fantasy;
  margin-left: 30px;
  border: none;
}




