a{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: rgb(255, 255, 255);
  font-family: garamond;
  text-shadow: 0.5px 0.5px 10px rgb(109, 88, 4);
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  animation: spin 10s linear infinite;
}

.logo.moneyway:hover {
  filter: drop-shadow(0 0 2em rgb(109, 88, 4));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


